{% load staticfiles %}
<html>
<head>
	<meta charset = "utf-8">
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link rel="stylesheet" href="{% static 'common/css/base.css' %}">
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	{% bootstrap_messages %}

	<title>{% block page_title %} Sentiment Analysis {% endblock %}</title>
	
	{% block extra_head%}
	{% endblock %}
</head>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>