{% load staticfiles %}
<html>
<head>
	<meta charset = "utf-8">
	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>  
	<link rel="stylesheet" href="{% static 'common/css/base.css' %}">
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	{% bootstrap_messages %}

	<title>{% block page_title %} Sentiment Analysis {% endblock %}</title>
	
	{% block extra_head%}
	{% endblock %}
</head>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>